body {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  text-transform: uppercase;

  background: #f2f2f2;
}

h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.container {
  padding-right: 6%;
  padding-left: 6%;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

/* Кнопки */

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 4px 17px;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  cursor: pointer;
}

.btn-blue {
  color: #ffffff;

  background: #81b3d2;
}

.btn-blue:hover {
  background: #669ec0;
}

.btn-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background: #5496bd;
}

.btn-brown {
  color: #ffffff;

  background: #766357;
}

.btn-brown:hover {
  background: #604e43;
}

.btn-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background: #503e33;
}

.btn-find {
  width: 568px;
  padding: 30px 0;

  font-size: 21px;
  line-height: 26px;
}

.btn-search {
  clear: both;
  width: 100%;
  padding: 16px 0;

  font-size: 21px;
  line-height: 26px;
}

.btn-filter {
  display: block;
  width: 138px;
  margin: 0 auto;

  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-filter:hover {
  color: #000000;

  background-color: #ffffff;
}

.btn-more {
  width: 110px;
  margin-right: 6px;
}

.btn-book {
  width: 142px;
}

/* Header */

.main-header {
  position: relative;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -69px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: block;
  float: left;
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.main-navigation li:nth-child(3) {
  margin-left: 20%;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(5n-5) {
  width: 14%;
  margin-left: 6%;

  text-align: left;
}

.main-navigation li:nth-child(4),
.main-navigation li:nth-child(5n-1) {
  width: 14%;
  margin-right: 6%;

  text-align: right;
}


.main-navigation a {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #000000;

  opacity: 0.3;
}

.main-navigation .active-link {
  color: #766357;
}

.main-navigation .active-link:hover {
  color: #604e43;
}

.main-navigation .active-link:active {
  color: #766357;

  opacity: 0.3;
}

/* Main */

.main-big-photo {
  padding: 76px 0 80px 0;

  background-color: #bcd0e2;
  background-image: url("../img/index-big-shape.png"),
  url("../img/index-big-pict.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, 0 -56px;
}

.main-big-photo img {
  display: block;
  margin: 0 auto;
}

.main-big-photo img:nth-child(1) {
  width: 188px;
  height: 45px;
  margin-bottom: 11px;
}

.main-big-photo img:nth-child(2) {
  width: 256px;
  height: 30px;
  margin-bottom: 52px;
}

.main-big-photo img:nth-child(3) {
  width: 458px;
  height: 78px;
  margin-bottom: 56px;
}

.main-big-photo img:nth-child(4) {
  width: 296px;
  height: 80px;
}

.features-main {
  width: 576px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 51px;

  text-align: center;
}

.features-main h1 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 21px;
  line-height: 26px;
}

.features-main p {
  font-size: 14px;
  line-height: 26px;
}

.features-illustrated.text-left {
  background: -webkit-linear-gradient(left, #81b3d2 400px, #ffffff 400px);
  background:         linear-gradient(to right, #81b3d2 400px, #ffffff 400px);
}

.features-illustrated.text-right {
  background: -webkit-linear-gradient(right, #81b3d2 400px, #ffffff 400px);
  background:         linear-gradient(to left, #81b3d2 400px, #ffffff 400px);
}

.features-illustrated .features-one-third {
  box-sizing: border-box;
  padding: 54px 47px 50px 47px;

  color: #ffffff;
}

.features-illustrated h2 {
  width: 151px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.features-num {
  display: block;
  margin-bottom: 23px;
}

.features-illustrated p {
  margin: 0;
}

.features-one-third {
  width: 400px;

  text-align: center;
}

.features-two-thirds {
  width: 800px;
  height: 256px;
}

.features-extra {
  padding-top: 162px;
  padding-bottom: 82px;
}

.features-extra .features-one-third {
  box-sizing: border-box;
  padding-right: 55px;
  padding-left: 55px;
}

.features-extra .left,
.features-extra .middle,
.features-extra .right {
  position: relative;
}

.features-extra h2 {
  margin: 0;
  margin-bottom: 24px;
}

.features-extra p {
  margin: 0;
}

/* Иконка "Дом" */

.features-extra .left::before {
  content: "";
  position: absolute;
  top: -101px;
  left: 50%;

  width: 75px;
  height: 72px;
  margin-left: -37px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -225px -10px;
}

/* Иконка "Бургер" */

.features-extra .middle::before {
  content: "";
  position: absolute;
  top: -101px;
  left: 50%;

  width: 74px;
  height: 70px;
  margin-left: -37px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -94px -91px;
}

/* Иконка "Сувенир" */

.features-extra .right::before {
  content: "";
  position: absolute;
  top: -105px;
  left: 50%;

  width: 64px;
  height: 76px;
  margin-left: -32px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -133px;
}

.features-text {
  padding: 45px 0 46px 0;

  background: #eeeeee;
}

.features-text .features-one-third {
  box-sizing: border-box;
  padding: 0 65px;
}

.features-text h2 {
  width: 120px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.main-hotels {
  position: relative;

  width: 568px;
  margin: 0 auto;
  padding-top: 55px;

  text-align: center;
}

.main-hotels b {
  display: block;
  margin-bottom: 32px;

  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
}

.main-hotels p {
  width: 440px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/* Форма поиска отелей на главной */

.hotels-form {
  position: absolute;

  display: none;
  padding: 55px;

  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: left;
  color: #000000;
  text-transform: uppercase;

  background: #ffffff;
}

.hotels-form-open {
  display: block;

  -webkit-animation-name: form-open;
          animation-name: form-open;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes form-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes form-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hotels-form label {
  position: relative;

  display: block;
  float: left;
  width: 100%;
  margin-bottom: 30px;

  font-family: "PT Sans", "Arial", sans-serif;
}

.hotels-form .form-adults,
.hotels-form .form-children {
  width: 50%;
  margin-bottom: 54px;
}

.hotels-form .form-children {
  float: right;
}

.hotels-form .form-text {
  display: block;
  float: left;
  padding-top: 6px;
  padding-bottom: 6px;
}

.form-children .form-text {
  margin-left: 50px;
}

.hotels-form input {
  display: block;
  float: right;
  box-sizing: border-box;
  padding: 6px 38px 6px 12px;

  font: inherit;
  line-height: inherit;
  text-transform: inherit;

  background: #f2f2f2;
  border: none;
}

.hotels-form input:hover {
  background: #ebebeb;
}

.hotels-form input:focus {
  padding: 4px 36px 4px 10px;

  background: #ffffff;
  border: 2px solid #e5e5e5;
}

.hotels-form .input-arrival,
.hotels-form .input-departure {
  width: 346px;
}

.hotels-form .input-adults {
  width: 114px;
  margin-right: 3px;
  padding: 6px 38px;

  text-align: center;
}

.hotels-form .input-children {
  width: 114px;
  padding: 6px 38px;

  text-align: center;
}

.hotels-form .input-adults:focus,
.hotels-form .input-children:focus {
  padding: 4px 36px;
}

/* Декоративные элементы формы поиска отелей */

/* Календарь */

.form-date .calendar {
  content: "";
  position: absolute;
  top: 50%;
  right: 9px;

  width: 21px;
  height: 22px;
  margin-top: -11px;

  font-size: 0;

  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -10px;
}

.form-date .calendar:hover {
  background-position: -92px -10px;
}

.form-date .calendar:active {
  background-position: -51px -10px;
}

/* Минус */

.form-adults .minus,
.form-children .minus {
  content: "";
  position: absolute;
  top: 50%;
  right: 94px;

  width: 12px;
  height: 3px;
  margin-top: -1px;

  font-size: 0;

  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -102px;
}

.form-children .minus {
  right: 89px;
}

.form-adults .minus:hover,
.form-children .minus:hover {
  background-position: -188px -102px;
}

.form-adults .minus:active,
.form-children .minus:active {
  background-position: -42px -102px;
}

/* Плюс */

.form-adults .plus,
.form-children .plus {
  content: "";
  position: absolute;
  top: 50%;
  right: 18px;

  width: 11px;
  height: 11px;
  margin-top: -5px;

  font-size: 0;

  background: url("../img/sprite.png") no-repeat;
  background-position: -220px -102px;
}

.form-children .plus {
  right: 14px;
}

.form-adults .plus:hover,
.form-children .plus:hover {
  background-position: -282px -102px;
}

.form-adults .plus:active,
.form-children .plus:active {
  background-position: -251px -102px;
}

/* Карта */

.main-map {
  width: 1200px;
  height: 593px;

  overflow: hidden;
}

.main-map iframe {
  width: 1200px;
  height: 653px;

  border: 0;
}

/* Hotels */

.accomodation-filter {
  padding-top: 29px;
  padding-bottom: 7px;

  background: #4178a3 url("../img/filter-bg.jpg") no-repeat;
  background-position: 0 -56px;
}

.accomodation-form fieldset {
  float: left;
  width: 255px;
  margin: 0;
  padding: 0;

  border: none;
}

.accomodation-form .price-range {
  float: right;
  width: 328px;

  color: #ffffff;
}

.accomodation-form legend {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.accomodation-form input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;

  display: block;
  margin-bottom: 24px;
  padding-left: 39px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;

  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 26px;
  height: 22px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -10px -52px;
}

input[type="checkbox"]:checked + label::before {
  background-position: -133px -10px;
}

input[type="checkbox"]:disabled + label::before {
  background-position: -52px -52px;
}

input[type="checkbox"]:checked:disabled + label::before {
  background-position: -179px -10px;
}

.accomodation-form .price-range-title {
  display: block;
  margin-bottom: 10px;

  text-align: left;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;
  margin-left: 10px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls .max-price {
  width: 90px;
  padding-left: 58px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
}

/* Ползунки */

.range-controls {
  position: relative;

  margin-bottom: 32px;
  margin-left: 10px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.result-top {
  padding-top: 30px;
  padding-bottom: 23px;

  border-bottom: 1px solid #e5e5e5;
}

.result-top-found {
  float: left;
  width: 162px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.result-top-sort {
  float: left;
  width: 700px;
  padding: 7px 0 5px 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.result-sort-direction {
  float: right;
  width: 50px;

  font-size: 0;
  text-align: right;
}

.result-top-sort .sort-name {
  margin-right: 40px;

  color: #000000;
}

.result-top-sort ul {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
  vertical-align: top;
}

.result-top-sort li {
  display: inline-block;

  vertical-align: top;
}

.result-top-sort li {
  margin-right: 33px;
}

.result-top-sort a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;

  border-bottom: 1px dotted #81b3d2;
}

.result-top-sort a:hover:not(.active-link) {
  color: #81b3d2;
}

.result-top-sort a:active:not(.active-link) {
  color: #000000;

  border-bottom: none;
}

.result-top-sort .active-link {
  color: #81b3d2;

  border-bottom: none;
}

/* Иконки сортировок "по возрастанию" и "по убыванию" */

.result-sort-direction .ascending {
  position: relative;
}

.result-sort-direction .ascending::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 25px;

  width: 0;
  height: 0;

  font-size: 0;

  border: 5px solid transparent;
  border-bottom: 10px solid #cccccc;
}

.result-sort-direction .ascending:hover:not(.active-link)::before {
  border-bottom-color: #000000;
}

.result-sort-direction .ascending:active:not(.active-link)::before {
  border-bottom-color: #81b3d2;
}

.ascending.active-link::before {
  border-bottom-color: #81b3d2;
}

.result-sort-direction .descending {
  position: relative;
}

.result-sort-direction .descending::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;

  width: 0;
  height: 0;

  font-size: 0;

  border: 5px solid transparent;
  border-top: 10px solid #cccccc;
}

.descending.active-link::before {
  border-top-color: #81b3d2;
}

.result-sort-direction .descending:hover:not(.active-link)::before {
  border-top-color: #000000;
}

.result-sort-direction .descending:active:not(.active-link)::before {
  border-top-color: #81b3d2;
}

.result-item {
  padding-top: 30px;
  padding-bottom: 27px;

  border-bottom: 1px solid #e5e5e5;
}

.result-image {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.result-content {
  float: left;
  width: 563px;
}

.result-content h2 {
  margin: -6px 0 9px 0;

  line-height: 26px;
}

.result-content .accomodation-title {
  color: #000000;
  text-decoration: none;
}

.result-content .accomodation-title:hover {
  color: #81b3d2;
}

.result-content .accomodation-title:active {
  color: #000000;

  opacity: 0.3;
}

.accomodation-info {
  margin-bottom: 11px;

  font-size: 0;
}

.accomodation-type {
  display: inline-block;
  width: 110px;
  margin-right: 5px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}

.accomodation-price {
  display: inline-block;
  width: 142px;

  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}

.accomodation-btn {
  font-size: 0;
}

.result-rating {
  float: right;
  width: 240px;

  font-size: 0;
  text-align: right;
}

.rating-pict {
  margin-bottom: 39px;

  font-size: 14px;
}

.pict-counter {
  position: relative;

  margin-left: 20px;

  font-size: 0;
}

.pict-counter::before {
  content: "";
  position: absolute;
  top: -16px;
  right: 0;

  width: 18px;
  height: 17px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -188px -133px;
}

.rating-counter {
  display: inline-block;
  width: 110px;
  padding: 3px 0;

  font-size: 14px;
  vertical-align: top;
  text-align: center;
  color: #666666;

  background: #f2f2f2;
}

/* Footer */
.footer {
  padding-top: 36px;
  padding-bottom: 36px;

  background-color: #ffffff;
}

.main-footer {
  margin-top: -118px;

  opacity: 0.9;
}

.footer-hashtag {
  float: left;
  box-sizing: border-box;
  width: 240px;
  margin-right: 88px;
  padding: 11px 0 11px 60px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-social {
  float: left;
  width: 400px;

  font-size: 0;
  text-align: center;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  margin: 0 3px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #81b3d2 url("../img/sprite.png") no-repeat;
}

.social-btn-tw {
  background-position: -211px -116px;
}

.social-btn-fb {
  background-position: -76px -38px;
}

.social-btn-yt {
  background-position: -213px -152px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn-tw:active {
  background-position: -248px -116px;
}

.social-btn-fb:active {
  background-position: -106px -38px;
}

.social-btn-yt:active {
  background-position: -253px -152px;
}

.footer-copyright {
  position: relative;

  float: right;
  width: 227px;
  padding: 10px 0 10px 13px;

  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.footer-copyright a {
  content: "";
  position: absolute;
  top: 50%;
  right: 31px;

  width: 113px;
  height: 39px;
  margin-top: -20px;

  font-size: 0;

  background: url("../img/html-academy.png") no-repeat;
}

.footer-copyright a:hover {
  background: url("../img/html-academy-hvr.png") no-repeat;
}

.footer-copyright a:active {
  background: url("../img/html-academy-down.png") no-repeat;
}
