body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

h2 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.wrapper {
  width:1200px;
  margin: 0 auto;
  background: #ffffff;
}

.main-header.container {
  position: relative;
}

.container {
  padding-left: 6%;
  padding-right: 6%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.btn {
  display: inline-block;
}

/* Header */

.main-logo {
  position: absolute;
  top: 0;
  left: 530px;
}

.main-navigation {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0px;
  list-style: none;
}

.main-navigation li {
  display: block;
  width: 20%;
  font-size: 14px;
  line-height: 26px;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
  float: left;

}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  float: right;
  text-align: right;
}

/* Main */

.main-big-photo {
  padding: 76px 0 82px 0;
  background:
    url("../img/index-big-pict.jpg") no-repeat;
  background-position: center center;
}

.main-big-photo img {
  display: block;
  margin: 0 auto;
}

.main-big-photo img:nth-child(1) {
  margin-bottom: 11px;
}

.main-big-photo img:nth-child(2) {
  margin-bottom: 52px;
}

.main-big-photo img:nth-child(3) {
  margin-bottom: 56px;
}

.features-main {
  width: 576px;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 51px;
}

.features-illustrated {
  background: #81b3d2;
}

.features-one-third {
  width: 400px;
}

.features-two-thirds {
  width: 800px;
  height: 256px;
}

.features-extra {
  padding-top: 163px;
  padding-bottom: 82px;
}

.features-text {
  padding-top: 50px;
  padding-bottom: 60px;
  background: #eeeeee;
}

.main-hotels {
  width: 576px;
  margin: 0 auto;
  padding-top: 60px;
}

.main-map {
  height: 593px;
}

/* Hotels */
.accomodation-filter {
  padding-top: 29px;
  padding-bottom: 33px;
  background: url("../img/filter-bg.jpg") no-repeat;
  background-position: 0px -56px;
}

.accomodation-form fieldset {
  float: left;
  width: 240px;
}

.accomodation-form fieldset:last-child {
  float: right;
  width: 328px;
}

.result-top{
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e5e5e5;
}

.result-top-found {
  float: left;
  width: 160px;
}

.result-top-sort {
  float: left;
  width: 700px;
}

.result-sort-direction {
  float: right;
  width: 50px;
  text-align: right;
}

.result-top-sort ul,
.result-sort-direction ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.result-top-sort li,
.result-sort-direction li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
}

.result-top-sort li {
  margin-right: 33px;
}

.sort-name {
  margin-right: 40px;
}

.result-item {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.result-image {
  float: left;
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

.result-content {
  float: left;
  width:563px;
}

.result-content h2 {
  margin: 0 0 12px 0;
  line-height: 26px;
}

.result-content a {
  text-decoration: none;
}

.accomodation-info {
  font-size: 0;
  margin-bottom: 17px;
}

.accomodation-type {
  display: inline-block;
  width: 110px;
  margin-right: 5px;
  font-size: 14px;
}

.accomodation-price {
  display: inline-block;
  width: 142px;
  font-size: 14px;
}

.btn-more {
  width: 110px;
}

.btn-book {
  width: 142px;
}

.result-rating {
  float: right;
  width: 240px;
  text-align: right;
  font-size: 0px;
}

.rating-pict{
  margin-bottom: 47px;
  font-size: 14px;
}

.rating-counter {
  display: inline-block;
  width: 110px;
  font-size: 14px;
  background: #f2f2f2;
  text-align: center;
}

/* Footer */
.footer {
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: #ffffff;

  /*Временная высота*/
  min-height: 46px;
}

.main-footer {
  margin-top: -118px;
  opacity: 0.9;
}

.footer-hashtag {
  float: left;
  width: 240px;
  margin-right: 88px;
}

.footer-social {
  float: left;
  width: 400px;
}

.footer-copyright {
  float: right;
  width: 240px;
}
